<br/>
<div class="panel-group" id="accordion">

Модуль синхронизации Majordomo и сервиса livegpstracks.com.

Реализовано:

Интерфейс пользователя:
Вкладка "ПРИНЯТЬ"
1) Ручное добавление списка ID устройств, опубликованных на сервисе livegpstracks.com
Вкладка "ОТПРАВИТЬ" - пока не работает

Основной функционал:
1) Автоматически создается класс "livegpstracks".
2) По кнопке test или по таймеру цикла производится запрос информации сохраненных во вкладке "ПРИНЯТЬ" устройств, создается объект класса "livegpstracks" с полученными свойствами.
3) Передача полученных параметров модулю GPS-трекер

Планы на будущее:
1) Реализация эмуляции трекера для отправки имеющихся параметров на сервис.
2) Исправление ошибок.

Зачем это нужно? Режим "ПРИНЯТЬ" нужен  в тех случаях, когда нет необходимости выводить сервер наружу и для поддержки всех протоколов и устройств GPS, которые имеются на сервисе livegpstracks.com. Также сервис все же имеет коммерческий функционал и обладает куда большей производительностью резервными каналами связи. Сервис бесплатно дает возможность работы с 2-мя устройствами. Но вам никто не мешает завести несколько аккаунтов.  Режим "ПОЛУЧИТЬ" нужен для передачи информации с других источников, например из плагина "Gps Watch" для последующего анализа и получения треков.

Как добавить новое устройства:
1) Регистрируемся на сервисе livegpstracks.com
2) Подключаем к своему личному кабинету поддерживаемое устройство из списка https://livegpstracks.com/index.php?ch=me&rme=d&trrd=5 по инструкции http://livegpstracks.com/forum/viewtopic.php?f=30&t=270
3) В своем личном кабинете "Управление трекерами" https://livegpstracks.com/index.php?ch=me&rme=d создаем приватную ссылку и извлекаем из нее ID

4) На вкладке "ПРИЕМ" плагина livegpstracks.com добавляем полученный ID и присваиваем имя для удобства



Ссылка на репозиторий https://github.com/directman66/majordomo-livegpstracks/archive/master.tar.gz
Тема на форуме http://majordomo.smartliving.ru/forum/viewtopic.php?f=5&t=5406

	
</div>
